<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/dagre.min.js"></script>
    <script src="/javascripts/cytoscape.min.js"></script>
    <script src="/javascripts/cytoscape-dagre.js"></script>

  </head>
  <body>
    <%- include('_graph') %>
    <script src="/javascripts/graph.js"></script>
  </body>
</html>
