<!DOCTYPE html>
<html>
  <head>
    <title>Take me from the error!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>You've found an error, awesome! :-) send it to me!</h1>
    <h3><%= error.status %></h3>
    <pre><%= error.stack %></pre>
  </body>
</html>
