<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="landingPage">
      <h1><%= title %></h1>
      <p>one place to another</p>
      <p>
        <% if (place) { %>
          <a href="/places/<%= place.id %>">Play</a>,
          <a href="/places/design/<%= place.gameId %>">design</a> or
        <% } else { %>
          <a href="/games/new">Create a game</a> or
        <% } %>
        <a href="http://github.com/vysogot/takemefrom">contribute</a>
      </p>
    </div>
  </body>
</html>
