<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
      <h1 id="title">Take me from</h1>
      <p>
        Take me from one place to another
      </p>

      <% if (game) { %>
        <p class="choice"><a href="/places/<%= game.theBeginning %>">Play</a></p>
        <p class="choice"><a href="/games/<%= game._id %>">Redesign</a></p>
      <% } %>
        <p class="choice"><a href="/games">Browse</a></p>
        <p class="choice"><a href="/games/new">Create</a>
      <% if (user) { %>
        <p class="choice"><a href="/logout">Log out</a>
      <% } else { %>
        <p class="choice"><a href="/login">Log in</a>
      <% } %>
        <p id="redesign"><a href="http://github.com/vysogot/takemefrom">Contribute</a></p>

    </div>
  </body>
</html>
