<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="landingPage">
      <h1><%= title %></h1>
      <p>one place to another</p>
      <p>
        <a href="<%= href %>"><%= link %></a>,
        <a href="/places">design</a> or
        <a href="http://github.com/vysogot/takemefrom">contribute</a>
      </p>
    </div>
  </body>
</html>
