<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="play">
      <p id="content">
        <%= place.content %>
      </p>

      <% place.actions.forEach(function(action, index) { %>
        <p><a href="/places/<%= action.link %>"><%= action.body %></a></p>
      <% }); %>
    </div>
  </body>
</html>
