body { margin:0; padding:0; background-color: #eee; font-size: 160%; }
a, a:link, a:active, a:visited { color: blue; text-decoration: none; }
a:hover { color: darkblue; }

p { border-bottom: 1px solid gray; margin: 0; padding: 1em 1.5em; }
ul li { margin-bottom: 1em; }

h1, h2 { margin: 0; padding: 0.25em;}

#container { margin: 0 auto;
  border-bottom: 1px solid gray;
  background-color: #fff; }

#content { background-color: #fff; }
.choice { background-color: #eee; }
#redesign { margin-top: 2em;
  border-top: 1px solid gray;
  border-bottom: 0; }
#title { display: none; }

#cy {
  width: 100%;
  height: 67vh;
  z-index: 998;
  background: #eee;
}

#boxContainer {
  border:1px solid black;
  z-index: 999;
  background: #ccc;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 33vh;
}

#theBox {
  padding: 1em;
  color: black;
}

textarea {
  width: 99%;
  min-height: 100px;
}

a#remove {
  color: #ff5e5b;
}
