body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F7F4EA;
  color: #36413e;
}

#landingPage, #play {
  text-align:center;
  padding-top:30vh;
}

h1 {
  color: #36413e;
  font-size: 2em;
}

a {
  color: #3E5C76;
}

label { width: 300px; display: block;}
label.action { display: inline; }
input[type="text"], input[type="password"] { width: 300px; }

#redesign { margin-top: 100px; }

#cy {
  width: 100%;
  height: 300px;
  border: 5px solid black;
  z-index: 999;
  background: white;
}
