<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <% if (games.length > 0) { %>
        <p>Pick one:</p>
        <% games.forEach(function(game, index) { %>
          <p class="choice"><a href="/places/<%= game.theBeginning %>"><%= game.name %></a></p>
        <% }); %>
      <% } else { %>
        <p>There is no game to play.</p>
      <% } %>

      <p><a href="/games/new">Create your own</a>.</p>

    </div>
  </body>
</html>
