<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <% if (games.length > 0) { %>
        <p id="content">These are your games:</p>
        <% games.forEach(function(game, index) { %>
          <p class="choice"><a href="/places/<%= game.theBeginning %>"><%= game.name %></a></p>
        <% }); %>
      <% } else { %>
        <p>Welcome!</p>
      <% } %>
      <p id="redesign"><a href="/games/new">Create a new game</a></p>

    </div>
  </body>
</html>
