<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
    <p>Make a new game:</p>

      <% if (err) { %>
        <p><%= err %></p>
      <% } %>

      <form action="/games/create" method="post">
        <label>Name:</label>
        <input type="text" name="name" /><br /><br />
        <label>Protect design?</label>
        <% if (user) { %>
          <input type="checkbox" name="isPrivate" /><br />
        <% } else { %>
          <a href="/login">Log in</a> for that.<br />
        <% } %>
        <br /><input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
